<!DOCTYPE html>
<html>
<head>
  	<meta charset="utf-8">
  	<meta name="viewport" content="initial-scale=1, width=device-width">
  	
  	<link rel="stylesheet"  href="/stylesheets/about-me.css" />
  	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Avenir:wght@400&display=swap" />
  	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Brown Sugar:wght@400&display=swap" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  	
  	
  	
</head>
<title>About Me</title>
<body>
  	
  	<div class="about-me">
    		<div class="about-me-child">
    		</div>
    		<div class="about-me-item">
    		</div>
    		<div class="home"><a href="/">Home</a></div>
    		<div class="about-me1">About Me</div>
    		<div class="resume"><a href="/resume" >Resume</a></div>
    		<img class="s-logo-blue-01" alt="" src="/images/s logo blue-01.png">
    		
    		<div class="because-nobody-can">Because nobody can be like me</div>
    		<div class="about-me2">ABout Me</div>
    		<img class="about-me-inner" alt="" src="Line 7.svg">
    		
    		<div class="im-sriyakshi-a">I'm Sriyakshi, a passionate and aspiring UI/UX designer with a curiosity that knows no bounds.</div>
    		<div class="tldr">TL;DR</div>
    		<div class="hey-there-im-container">
      			<span class="hey-there-im-container1">
        				<p class="hey-there-im">Hey there! I’m a UI/UX designer with a passion for creating seamless digital experiences. I've worked on a variety of projects like "4 Four Squares," where i designed a website for an e-commerce company , and "Ameya Engineering Solutions," a website designed for a company which is in the bioengineering space.</p>
        				<p class="hey-there-im">&nbsp;</p>
        				<p class="hey-there-im">For my personal projects, I’ve also developed "Eco Sync," an app that tracks your carbon footprint, and "Byana," an app for easy BMTC bus ticket bookings.</p>
        				<p class="hey-there-im">&nbsp;</p>
        				<p class="hey-there-im">While I not only work in the interaction design space, I also have designed a service on the skincare front, I designed "Niyati," a service that addresses skincare concerns in India</p>
        				<p class="hey-there-im">&nbsp;</p>
        				<p class="hey-there-im">&nbsp;</p>
        				<p class="hey-there-im">When I’m not designing, you’ll probably find me swimming laps in the pool. I love deep thinking, whether it's mulling over design ideas or pondering life’s big questions. And movies? I’m a huge fan, always analyzing how they tell stories visually. </p>
        				<p class="hey-there-im">&nbsp;</p>
        				<p class="hey-there-im">Designing meaningful experiences and learning new things along the way keeps me inspired!</p>
      			</span>
    		</div>
    		<img class="vuesaxoutlinearrow-down-icon" alt="" src="vuesax/outline/arrow-down.svg">
    		
    		<div class="sriyakshisgmailcom">sriyakshis@gmail.com</div>
    		<div class="instagram">Instagram</div>
    		<div class="linkedin">LinkedIn</div>
    		<div class="get-in-contact">Get In Contact</div>
  	</div>
  	
  	
  	
  	
</body>
</html>