<!DOCTYPE html>
<html>
<head>
  	<meta charset="utf-8">
  	<meta name="viewport" content="initial-scale=1, width=device-width">
  	
  	<link rel="stylesheet"  href="/stylesheets/index.css" />
  	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Avenir:wght@400&display=swap" />
  	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Brown Sugar:wght@400&display=swap" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

  	
  	
  	
</head>
<title>Portfolio</title>
<body>
  	<div class="home">
    		<div class="home-child">
    		</div>
    		<div class="uiux-designer">UIUX Designer</div>
    		<div class="lorem-ipsum-wrapper">
      			<div class="lorem-ipsum">Check out my work</div>
        </div>
    		
    		<div class="home-inner">
    		</div>
        <div class="home-item">
    		</div>
    		<div class="sriyakshi-sinha">sriyakshi sinha</div>
    		<div class="design-projects" id ="scrollhere">Design  Projects</div>
    		<div class="four-squares">4 Four Squares</div>
    		<div class="a-website-for">A website for the clothing e-commerce company</div>
    		<div class="line-div">
    		</div>
    		<div class="ameya-engineering-solutions">Ameya Engineering Solutions</div>
    		<div class="a-website-for1">A website for a biotechnology startup</div>
    		<div class="home-child1">
    		</div>
    		<div class="niyati">Niyati</div>
    		<div class="a-service-catered">A service catered to people with skincare issues in India</div>
    		<div class="home-child2">
    		</div>
    		<div class="swayam">Swayam</div>
    		<div class="sriyakshisgmailcom">sriyakshis@gmail.com</div>
    		<div class="redesign-of-swayam-">Redesign of  Swayam- A government owned E-Learning Platform</div>
    		<div class="home-child3">
    		</div>
    		<a href = "#scrollhere"><img class="vuesaxoutlinearrow-down-icon" alt="" src="/images/arrow-down.svg"> </a>
    		
    		<div class="home1">Home</div>
    		<div class="about-me"> <a href="/about-me" >About Me</a></div>
    		<div class="resume"><a href="/resume"> Resume</a></div>
        <img class="s-logo-01-1" alt="" src="/images/s logo-01 1.png">
    		<div class="eco-sync">Eco Sync</div>
    		<div class="an-app-which">An app which tracks user’s  carbon footprint and informs them how to reduce it</div>
    		<div class="home-child4">
    		</div>
    		<div class="b-yana">B Yana</div>
    		<div class="an-app-which1">An app which allows users to book BMTC Tickets </div>
    		<div class="home-child5">
    		</div>
    		<img class="ecosync-icon" alt="" src="/images/ecosync.png">
    		
    		<img class="byana-icon" alt="" src="/images/byana.png">
    		
    		<img class="four-icon" alt="" src="/images/4four.png">
    		
    		<img class="ameya-icon" alt="" src="/images/ameya.png">
    		
    		<img class="niyati-icon" alt="" src="/images/niyati.png">
    		
    		<img class="swayam-icon" alt="" src="/images/swayam.png">
    		
    		<div class="instagram"><a href=" ">Instagram</a></div>
    		<div class="linkedin">LinkedIn</div>
    		<div class="get-in-contact">Get In Contact</div>
        
  	</div>
  	
  	
</body>
</html>