<!DOCTYPE html>
<html>
<head>
  	<meta charset="utf-8">
  	<meta name="viewport" content="initial-scale=1, width=device-width">
  	
  	<link rel="stylesheet"  href="/stylesheets/resume.css" />
  	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Avenir:wght@400&display=swap" />
  	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Brown Sugar:wght@400&display=swap" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  	
  	
  	
</head>
<title> Resume</title>
<body>
  	
  	<div class="resume">
    		<div class="resume-child">
    		</div>
    		<div class="resume-item">
    		</div>
    		<div class="find-out-more">Find out more about me</div>
    		<div class="my-resume">My Resume</div>
    		<div class="home"><a href="/"> Home</a></div>
    		<div class="about-me"><a href="/about-me"> About Me</a></div>
    		<div class="resume1">Resume</div>
    		<img class="s-logo-01-3" alt="" src="/images/s logo-01 3.png">
    		
    		<div class="hello">Hello!</div>
    		<div class="personal-skills">Personal skills</div>
    		<div class="experience">Experience</div>
    		<div class="education">education</div>
    		<div class="honors-and-awards">honors and awards</div>
    		<div class="tools">Tools</div>
    		<div class="im-sriyakshi-a-container">
      			<span class="im-sriyakshi-a-container1">
        				<p class="im-sriyakshi-a">I'm Sriyakshi, a passionate and aspiring UI/UX designer with a curiosity that knows no bounds. Design is not just a career path for me, it's a journey of exploration and continuous learning.</p>
      			</span>
    		</div>
    		<div class="distinction-scholarship-for-container">
      			<span class="im-sriyakshi-a-container1">
        				<p class="im-sriyakshi-a">Distinction Scholarship for Semester I</p>
        				<p class="im-sriyakshi-a">Distinction Scholarship for Semester Ii</p>
        				<p class="im-sriyakshi-a">CNR Rao scholarship for Semester III</p>
        				<p class="im-sriyakshi-a">Distinction Scholarship for Semester IV</p>
      			</span>
    		</div>
    		<div class="resume-inner">
    		</div>
    		<div class="logo-designer-nupur-container">
      			<span class="im-sriyakshi-a-container1">
        				<p class="logo-designer">Logo Designer</p>
        				<p class="logo-designer">&nbsp;</p>
        				<p class="im-sriyakshi-a">Nupur Dhwani Dance Studio</p>
        				<p class="im-sriyakshi-a">Tangerine Bakehouse</p>
        				<p class="im-sriyakshi-a">2021-2022</p>
        				<p class="im-sriyakshi-a">Designed logos </p>
      			</span>
    		</div>
    		<div class="uiux-design-intern-container">
      			<span class="im-sriyakshi-a-container1">
        				<p class="logo-designer">UIUX Design Intern</p>
        				<p class="logo-designer">&nbsp;</p>
        				<p class="im-sriyakshi-a">Antriksh Labs</p>
        				<p class="im-sriyakshi-a">June 2024- July 2024</p>
        				<p class="im-sriyakshi-a">Designed website for 4FourSquares- An E-Commerce Clothing Website </p>
        				<p class="im-sriyakshi-a">Designed website for Ameya Engineering Solutions- A biotechnology Solution Startup</p>
      			</span>
    		</div>
    		<div class="design-thinking">Design Thinking</div>
    		<div class="delhi-public-school-container">
      			<span class="im-sriyakshi-a-container1">
        				<p class="im-sriyakshi-a">Delhi public school</p>
        				<p class="im-sriyakshi-a">10th Board CGPA- 89%</p>
        				<p class="im-sriyakshi-a">2006- 2022</p>
        				<p class="im-sriyakshi-a">&nbsp;</p>
        				<p class="im-sriyakshi-a">&nbsp;</p>
        				<p class="im-sriyakshi-a">PES University</p>
        				<p class="im-sriyakshi-a">cGPA-89.5%</p>
        				<p class="im-sriyakshi-a">2022- 2026</p>
      			</span>
    		</div>
    		<div class="senior-graphic-designer-container">
      			<span class="im-sriyakshi-a-container1">
        				<p class="logo-designer">Senior Graphic Designer</p>
        				<p class="logo-designer">&nbsp;</p>
        				<p class="im-sriyakshi-a">DELHI PUBLIC SCHOOL- IT CLUB</p>
        				<p class="im-sriyakshi-a">2021-2022</p>
        				<p class="im-sriyakshi-a">Designed logos for TECHSPRINT</p>
        				<p class="im-sriyakshi-a">Designed Flyers and Certificate</p>
      			</span>
    		</div>
    		<div class="rectangle-div">
    		</div>
    		<div class="problem-solving">Problem Solving</div>
    		<div class="problem-solving">Problem Solving</div>
    		<div class="resume-child1">
    		</div>
    		<div class="user-experience">User Experience</div>
    		<div class="resume-child2">
    		</div>
    		<div class="user-design">User Design</div>
    		<div class="resume-child3">
    		</div>
    		<div class="adobe-illustrator">Adobe Illustrator</div>
    		<div class="resume-child4">
    		</div>
    		<div class="figma">Figma </div>
    		<div class="resume-child5">
    		</div>
    		<div class="adobe-after-effects">Adobe After Effects</div>
    		<div class="resume-child6">
    		</div>
    		<div class="adobe-photoshop">Adobe Photoshop</div>
    		<div class="resume-child7">
    		</div>
    		<div class="microsoft-office">Microsoft Office</div>
    		<div class="resume-child8">
    		</div>
    		<div class="miro">Miro</div>
    		<div class="resume-child9">
    		</div>
    		<div class="visual-studio-code">Visual Studio Code</div>
    		<div class="resume-child10">
    		</div>
    		<div class="whimsical">Whimsical</div>
    		<div class="resume-child11">
    		</div>
    		<div class="user-research">User Research</div>
    		<div class="resume-child12">
    		</div>
    		<div class="strong-communication">Strong Communication</div>
    		<img class="vuesaxoutlinearrow-down-icon" alt="" src="/images/arrow-down.svg">
    		
    		<div class="sriyakshisgmailcom">sriyakshis@gmail.com</div>
    		<div class="instagram">Instagram</div>
    		<div class="linkedin">LinkedIn</div>
    		<div class="get-in-contact">Get In Contact</div>
    		<img class="image-49-icon" alt="" src="/images/image 49.png">
    		
  	</div>
  	
  	
  	
  	
</body>
</html>